@kashyaprahul94:registry=https://npm.pkg.github.com
//kashyaprahul94.jfrog.io/artifactory/api/npm/npm/:_auth=base64_auth_string
//kashyaprahul94.jfrog.io/artifactory/api/npm/npm/:email=kashyaprahul94@gmail.com
//kashyaprahul94.jfrog.io/artifactory/api/npm/npm/:always-auth=true
